
button {
    background-color: rgb(16, 157, 63);
    font-family: monospace;
    font-size: 15px;
    padding: 10px;
    margin: 35px;

}

ul {
    list-style-type: none;
}
li {
    font-family: monospace;
}


input {
    padding-right: 50 px;
    padding-inline-start: 20px;
    height: 50px;
    font-family: monospace;
}


h1 {
    font-family: monospace;
    align-content: center;
}

.row {
    border-radius: 20px;
}

.custom-cursor {
    cursor: url('./image/flower.svg'), auto !important;
  }
  