
button {
    background-color: rgb(16, 157, 63);
    font-family: monospace;
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    margin: 35px;

}


input {
    padding-right: 50 px;
    padding-inline-start: 20px;
    height: 50px;
}
.frame {
border: 10% black;
}

h1 {
    font-family: monospace;
    align-content: center;
}

.row {
    border-radius: 20px;
}
