/* Desktop */
@media (min-width: 1200px) {
  /* Styles for desktop */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablet */
}

/* Mobile */
@media (max-width: 767px) {
  /* Styles for mobile */
}

.frame {
    margin: 1rem;
}

button {
    background-color: rgb(16, 157, 63);
    font-family: monospace;
    font-size: 15px;
    padding: 10px;
    margin: 35px;
    color: black;

}

ul {
    list-style-type: none;
}
li {
    font-family: monospace;
}


input {
    padding-right: 50 px;
    padding-inline-start: 20px;
    height: 50px;
    font-family: monospace;
}


h1 {
    font-family: monospace;
    align-content: center;
}

.row {
    border-radius: 20px;
}

/* bootstrap is overwriting the css so needed to add !important for the svg css custom cursor to work */
.custom-cursor {
    cursor: url('./image/flower.svg'), auto !important;
  }
  